<div class="container">
  <mat-card class="mat-elevation-z6">
    <mat-card-title>
      Sobre o sistema
    </mat-card-title>
    <mat-card-content class="content">
      Sistema de cadastro de produtos (CRUD), e sistema de login com autenticação usando JWT e Guard nas rotas.
      Sistema SPA desenvolvido no angular e .NET e SQLite.
    </mat-card-content>
    <mat-card-content class="content">
      Caso esteja interessado no codigo do projeto acesse o <a href="https://github.com/Felippe-Rozendo/CRUD_JWT"
        target="_blank">Repositório do projeto</a>.
    </mat-card-content>
  </mat-card>
