<nav class="navbar navbar-expand-lg navbar-dark bg-dark mat-elevation-z6">
  <div class="container">
    <div class="container-fluid">      
      <a class="navbar-brand" routerLink="/home">E-TECH</a>            
    </div>
    <!-- DROPDOWN BUTTON-->
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" *ngIf="loggedIn()">
      <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">          
          <a class="nav-link" dropdownToggle id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="material-icons">more_horiz</span>
          </a>
            <ul class="dropdown-menu dropdown-menu-dark mat-elevation-z6" *dropdownMenu
              aria-labelledby="navbarDarkDropdownMenuLink">
              <li class="mt-1"><a class="dropdown-item" routerLink="/product">Produtos</a></li>
              <li class="mt-1"><a class="dropdown-item" routerLink="/create">Cadastrar Produto</a></li>
              <li class="mt-1"><a class="dropdown-item" routerLink="/sobre">Sobre</a></li>
              <li class="mt-1"><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sair</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>